# ------------------------------------ RoR project
# Ignore IDE config.
/jc-project-backend/.idea

# Ignore bundler config.
/jc-project-backend/.bundle

# Ignore all logfiles and tempfiles.
/jc-project-backend/log/*
/jc-project-backend/tmp/*
!/jc-project-backend/log/.keep
!/jc-project-backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/jc-project-backend/tmp/pids/*
!/jc-project-backend/tmp/pids/
!/jc-project-backend/tmp/pids/.keep

# Ignore uploaded files in development.
/jc-project-backend/storage/*
!/jc-project-backend/storage/.keep
/jc-project-backend/tmp/storage/*
!/jc-project-backend/tmp/storage/
!/jc-project-backend/tmp/storage/.keep

/jc-project-backend/public/assets

# Ignore master key for decrypting credentials and more.
/jc-project-backend/config/master.key

# ------------------------------------ VueJS project
# Logs
/jc-project-backend/logs
/jc-project-backend/*.log
/jc-project-backend/npm-debug.log*
/jc-project-backend/yarn-debug.log*
/jc-project-backend/yarn-error.log*
/jc-project-backend/pnpm-debug.log*
/jc-project-backend/lerna-debug.log*

/jc-project-backend/node_modules
/jc-project-backend/.DS_Store
/jc-project-backend/dist
/jc-project-backend/dist-ssr
/jc-project-backend/coverage
/jc-project-backend/*.local

/jc-project-backend/cypress/videos/
/jc-project-backend/cypress/screenshots/

# Editor directories and files
/jc-project-backend/.vscode/*
/jc-project-backend/!.vscode/extensions.json
/jc-project-backend/.idea
/jc-project-backend/*.suo
/jc-project-backend/*.ntvs*
/jc-project-backend/*.njsproj
/jc-project-backend/*.sln
/jc-project-backend/*.sw?
